// SLIDERS
.slide-in {
  transition: opacity 150ms ease-in, transform 250ms ease-out;

  &.on-left, &.on-right {
    opacity: 0;
  }

  &.on-left {
    transform: translateX(-100%) skewX(-35deg);
  }

  &.on-right {
    transform: translateX(100%) skewX(35deg);
  }

  &.showingFL, &.showingFR {
    opacity: 1;
    transform: translateX(0) skewX(0);
  }
}

// FADERS
.fade-in {
  opacity: 0;
  transition: opacity 200ms ease-in-out;

  &.showing {
    opacity: 1;
  }
}
