@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'variables';
@import 'animation';
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  // background-image: url(../resources/images/background.png) !important;
  background-color: pink;
  color: $textColor !important;
  font-family: 'Chakra Petch' !important;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#root {
  position: absolute;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: $warningColor;
}

.panel {
  background-color: $backgroundColorFaded;
  max-width: 90%;

  display: flex;
  flex-direction: column;

  clip-path: $beveledBorder;
  padding: 20px;
}

.panel-header {
  padding: 5px;
}

.section {
  background-color: $panelColor;
  color: $textColor;
  opacity: 0.9;

  padding: 20px;
  border: 1px solid $textColor;
  clip-path: $beveledBorder;
}

.input-field {
  background-color: $backgroundColor;
  color: $textColor;
}

textarea {
  background-color: $panelColor;
  color: $textColor;
  text-align: left;

  padding: 5px;
}

textarea::placeholder { 
  color: $textColor;
  text-align: center;
}

input[type=text] {
  background-color: $panelColor;
  color: $textColor;
  text-align: center;
  width: 100%;
}

input::placeholder {
  color: $textColor;
  text-align: center;
}

.blue-button {
  background-color: $highlightColor;
  color: $textColor;

  padding: 6px 16px;
  border: 0;
  clip-path: $beveledBorderSm;

  &:active {
    background-color: $warningColor;
  }
}

.orange-button {
  background-color: $warningColor;
  color: $textColor;

  padding: 6px 16px;
  border: 0;
  clip-path: $beveledBorderSm;

  &:active {
    background-color: $highlightColor;
  }
}

.transparent-button {
  background-color: transparent;
  color: $textColor;

  border: 0;
}

svg {
  width: 100%;
  fill: $textColor;
}

.blur-filter {
  filter: blur(4px);
  clip-path: none !important;
  border-radius: 20px;
}

.beveled-border {
  clip-path: $beveledBorder;
}

.navlink {
  color: $textColor;
  text-decoration: none;

  &:hover {
    color: $highlightColor;
    text-shadow: 2px 2px $backgroundColorFaded;
  }

  &:active {
    color: $warningColor;
    text-shadow: 2px 2px $backgroundColorFaded;
  }
}

// Timeline
.timeline-date {
  color: $textColor !important;
  text-shadow: 2px 2px 2px 2px black;
  opacity: 1 !important;
  font-size: 135% !important;
  text-align: center !important;
}


// Image Carousel
.control-arrow {
  background-color: $panelColor !important;

  top: calc(50% - 30px) !important;
  opacity: 90% !important;
  height: 45px !important;
  width: 45px !important;
  margin: 0px 10px !important;
  padding: 0px !important;
  clip-path: $beveledBorder;
  border: 1px solid $textColor !important;
}

.slider-wrapper {
  max-width: 800px !important;
}

.carousel-status {
  display: none;
}

.carousel img {
  width: auto !important;
}